.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ag-theme-alpine {
  display: grid;
  background-color: #FFFFFF;
  color: #181d1f;
  --ag-foreground-color: "#181d1f";
  --ag-data-color: "#181d1f";
  font-size: 9px;
}

.ag-theme-alpine.ag-root-wrapper-body.ag-layout-normal {
  height: 100%;
}

.ag-theme-alpine-dark {
  display: grid;
  background-color: #000000;
  color: #FF9826;
  --ag-foreground-color: "#FF9826";
  --ag-data-color: "#FF9826";
  font-size: 9px;
}

.ag-theme-alpine-dark.ag-root-wrapper-body.ag-layout-normal {
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
